body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #38678f; }

.container {
  box-sizing: border-box;
  width: 250px;
  height: 300px;
  margin: 2em auto;
  padding: 1em;
  background: #294d6b;
  color: #eee;
  font-size: 2.3em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0 3px #1b3246;
  position: relative; }
  .container::before, .container::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    background: lightgray;
    transition: all .3s; }
  .container::before {
    height: 2px;
    width: 0;
    bottom: 0;
    box-shadow: 250px -298px lightgray; }
  .container::after {
    top: 0;
    height: 0;
    width: 2px;
    box-shadow: 248px 300px lightgray; }
  .container:hover::after {
    height: 100%;
    box-shadow: 248px 0px lightgray; }
  .container:hover::before {
    width: 100%;
    box-shadow: 0 -298px lightgray; }
